body {
	width: 100%;
	height: 100%;
	padding: 0;
   	margin: 0;
}

#led {
	position: absolute;
	width: 16px;
	height: 6px;
	border: 9px solid #e6e6e6;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 20;
	margin: 10px;
	background-color: #05f75e;
	left: 1px;
	top: 1px;
	z-index: 999999;
}

#pluto_icon_left {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

#pluto_icon_right {
	position: absolute;
	right: 20px;
	bottom: 20px;
}